.Loader {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.Loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  height: 40px;
  width: 40px;
  border: 16px dashed transparent;
  border-top: 16px dashed rgba(255, 255, 255, 0.1);
  border-bottom: 16px dashed rgba(255, 255, 255, 0.1);
  border-style: double;
  border-radius: 100px;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
